<h2 class="page-header">Book details</h2>
<h4>Title : {{docs.title}}</h4>
<h4>Genre : {{docs.genre}}</h4>
<h4>Author : {{docs.author}}</h4>
<p>{{docs.description}}<p>
<h4>Price : {{docs.price}}</h4>
<a href="/addcart/{{docs._id}}"><button class="btn btn-default">Add to cart</button></a>